@font-face {
    font-family: 'Candara'; /*a name to be used later*/
    src: url('../fonts/Candara.ttf'); /*URL to font*/
}


ul.topnav { /*AL PONER UL, ESTAMOS ACOTANDO A LOS TOPNAV QUE SEAN SOLO DE LA CLASE UL*/
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    padding: 0;
    margin-top: 1px;
    font-size: 13.5px;
}
#alumnos {
    width: 33.33%;
    float: left; 
}

#autoescuela {
    width: 33.33%;
    float: left;
}

#calendario {
    width: 33.33%;
    float: left;
}

ul.topnav input {
    width: 100%;
    background-color: #e5fdff;
    border: none;
    padding: 3px;
}

ul.topnav li input {
    border-top: 0px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
    font-family: "Candara";
    color: #525252;
	text-shadow: 3px 3px 3px #007681;
}

ul.topnav li.icon {
    display: none;
}

ul.topnav li input:hover {
    background-color: #97dbe2;
}

@media screen and (max-width:680px) {
ul.topnav li:not(:first-child) {display: none;}
ul.topnav li.icon {
float: right;
display: inline-block;
}
}

@media screen and (max-width:680px) {
ul.topnav.responsive {position: relative;}
ul.topnav.responsive li.icon {
position: absolute;
    right: 0;
top: 0;
}
ul.topnav.responsive li {
float: none;
display: inline;
}
ul.topnav.responsive li input {
display: block;
text-align: left;
}
}
    