 * {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Candara'; /*a name to be used later*/
    src: url('../fonts/Candara.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Gothic'; /*a name to be used later*/
    src: url('../fonts/Gothic.ttf'); /*URL to font*/
}

body {
    background-image: url(../images/tecno.png);
}

html {
    font-family: "Candara";
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} 


html, body {margin:0; padding:0; height:100%;}

/* @if (.prueba (height >= 800px)) {
    
    #prueba {
    width: 100%;
    height: 200px;
    overflow: auto;
        }
} */

#datos_alumno {
    border-color: red;
    height: auto;
}

#clases_teoricas {
    border-color: yellow;
}

#examenes {
    border-color: green;
}

#clases_practicas {
    border-color: blueviolet;
}

#compras {
    border-color: orange;
}

#izquierda {
    float: left;
}

#centro {
    float: left;
    position: static;
    top:0px;
}

#derecha {
    display: inline-block;
    float: left;
    padding-right: 1px;
    width: 32.5%;
}

