* {
box-sizing: border-box; /*que los elementos lleven incluidos el margen y el padding*/
}

body#formulario {
    padding-left: 40px;
    border: 1px solid black; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    max-width: 50%;
    text-align: center;
}

input {
    margin-bottom: 15px;
}

#content {
    margin: auto;
}

form {
    margin: auto;
}




/*div {
    padding-left: 40%;
    text-align: left;
    margin: auto;
}*/

