* {
box-sizing: border-box; /*que los elementos lleven incluidos el margen y el padding*/
}

#formulario {
    padding-left: 40px;
    max-width: 50%;
    text-align: left;
    margin: auto;
    background-image: url(../images/tecno.png);
}

input {
    margin-bottom: 15px;
}

#content {
    margin: auto;
    
}

form {
    margin: auto;
    /* color del formularo */
}




/*div {
    padding-left: 40%;
    text-align: left;
    margin: auto;
}*/

